[submodule "9899-1990"]
	path = src/9899-1990
	url = git@gitlab.com:ung.org/lib/9899-1990.git
[submodule "POSIX.1-1988"]
	path = src/POSIX.1-1988
	url = git@gitlab.com:ung.org/lib/POSIX.1-1988.git
[submodule "POSIX.1-1990"]
	path = src/POSIX.1-1990
	url = git@gitlab.com:ung.org/lib/POSIX.1-1990.git
[submodule "std/9899-1990-AMD1"]
	path = src/9899-1990-AMD1
	url = git@gitlab.com:ung.org/lib/9899-1990-AMD1.git
[submodule "src/9899-1999"]
	path = src/9899-1999
	url = git@gitlab.com:ung.org/lib/9899-1999.git
